.container {
    position: relative;
    text-align: center;
}
.discord-logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 96px;
}
.discord-logo-blurry {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5); 
    font-size: 96px;
    filter: blur(10px); 
}
.discord-url {
    position: absolute;
    top: calc(35% + 150px); 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
}
.scroll-padding {
    height: 200px;
    position: relative;
    z-index: -1;
}