.versionTEST {
    position: fixed;
    top: 0;
    color: #ffffff4e;
    z-index: 98; 
}

.versionTEST .text {
    position: relative;
    z-index: 1;
}

.versionTEST .status {
    position: relative;
    display: inline-block;
    background-color: rgba(17, 255, 0, 0.2);
    border-radius: 5px;
    padding: 2px 5px;
    color: #fff;
    filter: blur(2px); 
}