.nav-button {
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px 0; 
    cursor: pointer;
    filter: grayscale(0);
    transition: background-color 0.3s, color 0.3s, filter 0.3s;
    border: 1px solid transparent;
    border-radius: 8px; 
}

.nav-button:hover {
    background-color: rgba(255, 0, 0, 1);
    filter: grayscale(0);
    border-color: rgb(255, 255, 255);
}

.button-ds {
    font-family: inherit;
    margin-bottom: 20px;
    font-size: 18px;
    background: linear-gradient(to bottom, #4f4dd9 0%,#2b60aa 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.button-ds:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button-ds:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-ds span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.button-ds svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

.button-ds .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.button-ds:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

.button-ds:hover svg {
    transform: rotate(360deg);
}

.button-tt {
    font-family: inherit;
    margin-bottom: 20px;
    font-size: 18px;
    background: linear-gradient(to left, #00A4E7 0%, #FE196D 50%, #8F4DBC 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.button-tt:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button-tt:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-tt span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.button-tt svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

.button-tt .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.button-tt:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

.button-tt:hover svg {
    transform: rotate(360deg);
}

.button-yt {
    font-family: inherit;
    margin-bottom: 20px;
    font-size: 18px;
    background: linear-gradient(to left, #ff2c2c 0%, #b91c1c 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.button-yt:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button-yt:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-yt span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.button-yt svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

.button-yt .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.button-yt:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

.button-yt:hover svg {
    transform: rotate(360deg);
}

.buttonDiscord {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    background: rgb(18,19,35);
    background: linear-gradient(170deg, rgba(18,19,35,1) 0%, rgba(62,44,135,1) 100%); 
    color: white;
    box-shadow: 0px 0px 20px 5px rgba(142, 45, 226, 0.75);
    border-radius: 14px;
    margin: 0 auto;
    font-size: 29px;
    border-color: #6B3C9B;
    margin: 15px auto;
    cursor: pointer;
}

.buttonDiscord:hover {
    box-shadow: 0px 0px 22px 6px rgba(142, 45, 226, 0.75);
}

.buttonTikTok {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    background: rgb(18,19,35);
    background: linear-gradient(170deg, #FE196D 0%, rgb(135, 44, 92) 100%); 
    color: white;
    box-shadow: 0px 0px 20px 5px rgb(135, 44, 92, 0.75);
    border-radius: 14px;
    margin: 0 auto;
    font-size: 29px;
    border-color: #6B3C9B;
    margin: 15px auto;
    cursor: pointer;
}

.buttonTikTok:hover {
    box-shadow: 0px 0px 22px 6px rgb(135, 44, 92, 0.75);
}

.buttonYoutube {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    background: rgb(18,19,35);
    background: linear-gradient(170deg, #fe1919 0%, rgb(135, 44, 44) 100%); 
    color: white;
    box-shadow: 0px 0px 20px 5px rgba(248, 63, 63, 0.75);
    border-radius: 14px;
    margin: 0 auto;
    font-size: 29px;
    border-color: #6B3C9B;
    margin: 15px auto;
    cursor: pointer;
}

.buttonYoutube:hover {
    box-shadow: 0px 0px 22px 6px rgba(248, 63, 63, 0.75);
}
