header {
    text-align: center;
    margin-top: 20px;
}
nav {
    text-align: center;
    margin-top: 10px;
}
.footer-text {
    color: white;
}
.nav-footer {
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}
.footer {
    text-align: center;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45); 
    color: white; 
    padding: 10px; 
    font-family: Arial, sans-serif;
    z-index: 999;
}
header h1 {
    color: white;
}
.footer p {
    margin: 5px 0;
}
.no-results {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.77);
    font-weight: bold;
}
.scroll-padding {
    height: 100px;
    position: relative;
}
.scroll-padding-s {
    height: 70px;
    position: relative;
}  